[submodule "benchmarks/renaissance"]
	path = benchmarks/renaissance
	url = https://github.com/renaissance-benchmarks/renaissance.git
[submodule "thirdparty/boost"]
	path = thirdparty/boost
	url = https://github.com/bolunli11/boost-1_71_0.git
[submodule "thirdparty/bintrees"]
	path = thirdparty/bintrees
	url = https://github.com/mozman/bintrees.git
[submodule "thirdparty/jattach"]
	path = thirdparty/jattach
	url = https://github.com/jattach/jattach.git
[submodule "thirdparty/kissmalloc"]
	path = thirdparty/kissmalloc
	url = https://github.com/frankencode/kissmalloc.git
